<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/assests/styles.css" rel="stylesheet" type="text/css" />
    <title>todo</title>
</head>
<body>
    <h1>My Todos</h1>
    <section id="todo-table">
        <form>
            <input type="text" placeholder="title" required />
            <input type="text" placeholder="enter todo here ...." required />
            <button type="submit">Add todo</button>
        </form>
        <br/>
        <ul>
            <li>Item 1 </li>
            <li>Item 2 </li>
            <li>Item 3 </li>
        </ul>
    </section>
</body>
</html>