<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/assests/styles.css" rel="stylesheet" type="text/css" />
    <title>todo</title>
</head>
<body>
    <h1>My Todos</h1>
    <section id="todo-table">
        <form action="/todo" method="post" id="form">
            <input type="text" placeholder="title" name="title" id="title" required />
            <input type="text" placeholder="enter todo here ...." name="todo" id="todo" required />
            <input type="hidden" name="id" id="id" required value=<%= lastId %> />
            <button type="submit">Add todo</button>
        </form>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>title</th>
                    <th>todo</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <% todos.forEach(item =>{ %>
                    <tr>
                        <td><%= item.title %></td>
                        <td><%= item.todo %></td>
                        <td>
                            <button class="delete-btn" data-id=<%= item.id %>>delete</button>
                        </td>
                    </tr>
                <% })  %>
            </tbody>
        </table>
    </section>
    <script src="/assests/jquery-ajax.js"></script>
</body>
</html>